.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, #686160 , rgb(7, 7, 166));
}

.calculator {
  margin-left: -2rem;
  padding: 20px;
  width: 30rem;
  height: 38rem;
  border-radius: 10px;
  background-color: white;
}

form input {
  border: none;
  outline: 0;
  width: 7.2rem;
  height: 5.7rem;
  font-size: 16px;
  background-color: rgb(91, 91, 151);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(137, 22, 245);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: black;
}

.equal {
  width: 14.6rem;
}

.h1 {
  position: absolute;
  top: 3rem;
  left: 52rem;
  font-size: 3rem;
  height: 10rem;
  line-height: 4rem;
  font-weight: 1000;
}
